* { 
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;

}

body {
    background-color: white;
    background: inherit;
    display: white
}
.head {
    display: flex;
   margin-left: 70px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 5vh;
    
}

a { 
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.sign-btns{
    display: flex;
    /* align-items: center; */
    /* justify-content: right; */
    
}
.btn-primary{
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 0px 13px
}
.btn-secundary {

    color: white;
    border: none;
    width: 123px;
    height: auto;
    font-size: 16px;
    padding: 13px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    background: rgb(84, 84, 177);
    margin-right: 70px;

}


header {
    /* top: 0;
    left: 20; */
    /* z-index: 10; */
    /* width: 100%; */
    /*align-items: center;
    position: fixed; 
    flex-grow: 1;
    /* padding: 35px 100px 0; */
    color: rgb(0, 0, 0);
    justify-content: space-between;
    background: white;
    display: flex;
    margin-top: 3px;
}

ul, ul.nav {

    list-style: none;
    margin-top: 16px;
    margin-left: 25px;
}
header ul.nav {

    display: flex;
    
}

header ul.nav li {
margin: 0 20px;
}
header ul.nav li:first-child {
    margin-left: 0;
}
header ul.nav li:last-child {
    margin-right: 0;
}
.h1 {
    font-size: 47px;
}
.content{
    margin-top: 4%;
    width: 100%;
    display: flex;
}
.content1{
/* align-items: center;
justify-content: center; */
width: 45%;
height: 500px;
margin-left: 5%;
background-color: white;

}   

.dinopic { 
    /* width: 100%;
    height: 50%; */
    /* align-items: center;
    justify-content: center; */
    border-radius: 10px;


}
.paragraph {
    margin-right: 70px;
}
.ubications {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}
.ubication2{
    margin-right: 90px;
}
.content2{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 500px;
    background-color: white;
    }   

.nameForm {
    display: flex;  
    margin-top: 20px;
    align-items: center;
    padding-top: 20px;

    
}  
.DivForm {
    /* border: 1; */
    width: 600px;  
    height: 560px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
}

.DivName{
    margin-left: 50px
}
 .Lname, .Fname {
    
    margin: 10px 15px 15px 0px;
    border-radius: 5px;
    border-color: rgb(207, 205, 205);
    box-sizing: border-box;
    width: 234px;
    height: 34px;
}

.inputBox{
    margin: 10px 0px 15px 0px;
    width: 482px;
    height: 38px;
    border-radius: 5px;
    border-color: rgb(207, 205, 205);
    box-sizing: border-box;
}
.form-group {
     flex-direction: column;
     /* height: ; */
     margin-left: 50px;
     /* margin: 10px 15px 15px 50px; */
   } 
.InputMessage{
    margin: 5px 0px 10px 0px;
    height: 123px;
    width: 482px;
    padding-bottom: 80px;
    border-radius: 5px;
    border-color: rgb(207, 205, 205);
    box-sizing: border-box;
}
.send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    width: 483px;
    height: 35px;
    font-size: 16px;
    padding: 4px 0px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(84, 84, 177);
    /* text-align: center; */
}

.form-group-send-btn {
margin-left: 51px;
}

